<!-- the content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- flash message-->
<%- messages() %>

<div class="log">
<form id="login" action="/account/login" method="post">
    <label for="account_email">Email:</label>
    <input type="email" id="account_email" name="account_email" placeholder="Enter your email" required value="<%= locals.account_email %>">
    <label for="account_password">Password:</label>
    <input type="password" id="psw" name="account_password" title="the password must be:
    12 characters in length, minimum
    contain at least 1 capital letter
    contain at least 1 number
    contain at least 1 special character" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    <button type="submit">LOGIN</button>
</form>

<p id="Sign-up">No account?<a href="/account/register"> Sign-up</a></p>
</div>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>




      