/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root{
  --grey: #333;
  --blue: #2671B1;
  --heading: 'Oswald';
  --paragraph: 'Lato';
}


/*header*/
h1, h2, h3{
  font-family: var(--heading);
}

#top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteName a{
  display:flex;
  flex-direction: column;
  padding:20px; 
  font-family: var(--heading);
  text-decoration: none;
  font-size: xxx-large;
  color: #111;
  grid-column: 1/2;
}

#tools a{
  font-family: var(--paragraph);
  text-decoration: none;
  color: #111;
  font-size: larger;
  grid-column: 2/2;
}

#tools{
  padding:20px; 
  padding-left: 40px;
}

/*nav*/
nav ul {
  display: flex;
  font-size: 1.5rem;
  background-color: var(--dark-font);
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  background-color: #333;
}

nav li {
  padding: .45rem;
}

nav a {
  color: white;
  text-align: center;  
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li:hover {
  background-color: #111;
}


/* hero*/
p, li{
  font-family: var(--paragraph);
}

.hero{
  background-image : url(../images/vehicles/delorean-tn.jpg);
  background-repeat : no-repeat;
  background-size : cover;
  background-position : center;
  margin-bottom : 0.5rem;
  position : relative;
  width: 100%;
  height: auto;
}

.hero img{
  width: 100%;
  height: auto;
}

.overlay-text{
  background-color: rgba(155, 153, 153, 0.5);
  text-align: left;
  padding: 0.5rem;
  top: -1%;
  left: 2%;
  width: 40%;
}


/*reviews*/
.reviews li{
  line-height: 2.5;
  font-size: larger;
}


/*upgrades*/
.upgrades-grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  color: black;
  padding-left: 0;
}

.upgrades-grid img{
  width: 100px;
}

.upgrades-grid div{
  border: #111 1px solid ;
  margin: 1rem;
  padding: 1rem;
  background-color: #2671B1;
}

.upgrades-grid a {
  text-decoration: none;
  transition : color 0.8s, font-size 0.5s, transform 0.3s;
  color:black;
}

.upgrades-grid a:hover {
  color:white;
  transform : scale(1.09);
}

/*vehicules inventory view*/
#inv-display{
  list-style: none;
  width:80%;
  text-align: center;
  margin: 2rem;
}

#inv-display li{
  border: #333 3px solid;
  margin: 1rem;
  border-radius: 5px;
}

#inv-display a{
  display: block;
  width: 100%;
  text-decoration: none;
  color:#2671B1;
  font-family: var(--heading);
}

#inv-display img{
  width: 100%;
  height: auto;
}

#inv-display span{
  font-family: var(--heading);
}

/*details view*/

#details img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#details h2 {
  text-align: center;
}

#details span{
  font-weight: bolder;
  font-family: var(--paragraph);
}

/*error message*/
#message{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('/public/images/site/traffic.jpg');
  background-size: cover;
  height: 50vh;
  background-position-y: 40%;
  text-align: center;

}

/*account/login*/
.log, .registration{
  background-color: var(--blue);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin: 10px auto;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
}

#login, #register{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="email"], input[type="password"], input[type="text"]{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-family: var(--paragraph);
}

#login label, #register label{
  font-family: var(--paragraph);
}

#login  button, #register button{
  padding: 10px;
  border: none;
  background-color: var(--blue);
  color: white;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--heading);
}

#login  button:hover, #register button:hover {
  background-color:var(--grey) ;
  color: var(--blue);
}

footer{
  padding: 20px;
}

@media screen and (min-width: 500px) {
  html{
    background-image: url(../images/site/small_check.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;  
  }

  body{
    background-color: white;
    max-width: 1080px;
    margin: auto;
    border: #2671B1 solid 7px;
    border-radius: 15px;
  }

  .hero{
    background-image : url(../images/vehicles/delorean.jpg);
  }

  .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .reviews ul{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
  }

  #inv-display{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
  }

  #details{
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 5px;
    margin-top: 2rem;
    align-items: center;
  }

  #details h2, #details p{
    grid-column: 2/3;
    text-align: left;
  }
}